.blocker {
    background-color: rgba(0,0,0,0.45);
}

.modal {
    z-index: 2000; 
    margin-top: 80px;
}

.modal p {
    line-height: 1.6em;
    text-align: left;
    margin: 0 0 1rem 0;
}

.button.special, button.special {
    background-color: #2ab20b;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    margin-right: 10px;
}

.modal .negative  {
    
    color: #8a8989!important;
    border: none;
    padding: 10px 15px;
}


input[type=checkbox]+label {
    font-weight: 700;
}

@media (max-width: 460px) {

    .modal {
        width: 100%;
    }

    .button.small, button.small {
        margin-bottom: 1em;
    }

}

