/* GLOBAL */
body {background: #e5e5e5; font-family: 'Open Sans'; margin: 0px;}
.boton, .boton:hover {background-color: #2a8dfb; color: white; border-radius: 5px; border: 0px; height: 45px; width: 175px; line-height: 45px; display: inline-block; font-weight: bold; cursor: pointer;}
a, a:hover, a:focus {text-decoration: none; color: #2a8dfb }
/* END GLOBAL */

/* NAV */
nav {height: 55px; background-color: #00354c; position: fixed; width: 100%; top: 0px; z-index: 100;}
nav img {width: 100px; margin: 22px 0px 0px 20px; cursor: pointer;}
nav .fa.fa-bars, nav .fa.fa-times {float: right; color: #2a8dfb; font-size: 28px; margin: 15px 18px 0px 0px; cursor: pointer;}
/* END NAV */


/* MONTHS */
.swiper-container {
    width: 100%;
    position: fixed;
    top: 0px;
    background: #002433;
}

.swiper-slide {
    text-align: center;
    font-size: 14px;
    color: #2a8dfb;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-button-next {
  right: 0px; position:absolute; top: 22px; height: 40px;
  background-image: none;
  width: 40px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,002433+100&0+0,1+100 */
  background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(0,36,51,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(0,36,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(0,36,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#002433',GradientType=1 ); /* IE6-9 */
}

.swiper-button-prev {
  left: 0px; position:absolute; top: 22px; height: 40px;
  background-image: none;
  width: 40px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002433+0,002433+100&1+0,0+100 */
  background: -moz-linear-gradient(left,  rgba(0,36,51,1) 0%, rgba(0,36,51,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,36,51,1) 0%,rgba(0,36,51,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,36,51,1) 0%,rgba(0,36,51,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002433', endColorstr='#00002433',GradientType=1 ); /* IE6-9 */
}

.swiper-slide-active {color: white;}
/* END MONTHS */

/* MENU */
.menu {display: none;}
.menu.active {position: fixed; width: 100%; top: 0px; height: 100vh; z-index: 1;}
.menu ul {display: table-cell; vertical-align: middle; list-style: none; padding: 0px;}
.menu ul li {color: #2a8dfb; text-align: center; font-size: 24px; line-height: 50px;}
.menu ul li .list {color: #2a8dfb; text-align: center; font-size: 24px; line-height: 50px;cursor: pointer;}
.menu ul li a {cursor: pointer;}
.menu ul li.active {color: white;}
.menu ul li.social {float: left; width: 50%;}

.menu-content {height: 100vh; display: table; width: 100%; background-color: #00354c; }

.social.fb {text-align: right; padding: 30px 15px 0px 0px;}
.social.tw {text-align: left; padding: 30px 0px 0px 15px;}

.menu ul li.social a {
    border: 2px solid #2a8dfb;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    font-size: 25px;}


/* END MENU */


/* SLIDER */

.fish-info-cont {
    position: absolute;
    top: 0px;
    z-index: 100;
    height: 100vh;
    display: table;
    width: 100%;
  }

.fish-info {display: table-cell; vertical-align: middle;}
.fish-info h1 {color: white; font-size: 21px;font-family: 'Open Sans'; font-weight: 900;}
.fish-info h2 {color: white; font-size: 14px; margin: 0px 0px 20px 0px;}

/* END SLIDER */

/* CONTENT */
.content {padding: 15px;}
.content.list {margin:60px 0px 0px 0px;}
.content article {display:none; background: white; text-align: center; padding: 15px; overflow: hidden; margin: 0px 0px 15px 0px;}
.content article.active {display: inherit;}
.content article:last-child {margin: 0px;}
.content article img {border-bottom: 1px solid #c7c5c5; width: 100%;}
.content h1 {color: #00354c; font-size: 21px; width: 100%; margin: 25px auto 20px auto; text-align: left;}
.content h1 span {font-size: 12px;}
.content ul {padding: 0px; list-style: none; margin: 0px;}
.content ul li {font-size: 12px; text-align: left; color: #7f7e7e;}
.content ul li span {color: #00354c;}
.content .info, .content .info:hover {width:100%;text-align: left; float: left; margin: 20px 0px; font-weight: bold; color:#2a8dfb;    cursor: pointer;}
.content a i {font-size: 24px; position: relative; top: 3px; padding: 0px 3px 0px 0px;}
.content .boton {width: 100%;}

.content .extra-info {width: 100%; overflow: hidden; display: none;}
.content .extra-info h3 {font-size: 21px; text-align: left; margin: 0px 0px 20px 0px; color: #002433;}
.content .extra-info h3 span {font-size: 12px;}
.content .extra-info p {text-align: left; font-size: 12px;}
.content .extra-info ul {list-style: none; margin: 14px 0px 24px 0px; overflow: hidden;}
.content .extra-info ul li {float: left; width: 7.7%; margin-right: 2px; background-color: #e5e5e5; color: #7f7f7f; height: 16px; font-size: 8px; text-align: center; line-height: 16px;}
.content .extra-info ul li:last-child {margin-right: 0px;}
.content .extra-info ul li.yellow {color: white; background-color: #fac800;} 
.content .extra-info ul li.green {color: white; background-color: #01b65f;} 
/*END CONTENT */

/* CONTENT RECETAS */
header h1 {margin: 75px 0px 20px 0px; text-align: center; font-size: 28px; color: #00354c}
.content-recetas {padding: 15px; width: 100%; }
.content-recetas .receta {width: 100%; background-color: white; overflow: hidden; padding: 25px 15px 25px 15px; margin: 0px 0px 15px 0px;}
.content-recetas .receta:last-child {margin: 0px;}
.content-recetas .receta .cocinero-content {overflow: hidden;}
.content-recetas .receta .cocinero-image {width: 35%; float: left; }
.content-recetas .receta .cocinero-info {width: 65%; float: left; padding: 0px 0px 0px 15px;}
.content-recetas .receta h1 {font-size: 21px; width: 100%; overflow: hidden; border-top: 1px solid #c7c5c5; padding: 25px 0px 0px 0px; margin: 25px 0px 0px 0px;}
.content-recetas .receta h3 {font-size: 12px; color: #00354c;}
.content-recetas .receta ul {padding: 0px 0px 0px 20px; font-size: 12px; color: #7f7f7f;}
ol {counter-reset: step-counter; padding: 0px 0px 0px 0px;list-style: none; font-size: 12px; color: #7f7f7f;}
ol li {
  position: relative;
  margin:0px 0px 5px 0px;
}
ol li::before { 
      counter-increment: step-counter;
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 10px;
    background-color: #00354c;
    color: white;
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 50%;
    position: absolute;
}
ol li span {    display: block;
    padding-left: 30px;}
.content-recetas .receta .cocinero-info h2 {font-size: 12px; color: #00354c;}
.content-recetas .receta .cocinero-info p {font-size: 11px; color: #7f7f7f;}
.content-recetas .receta .cocinero {background: url(../img/cocinero.png) no-repeat center; border-radius: 50%; width: 30%; height: auto; background-size: 100%;}
/* END CONTENT RECETAS */

/* FORMULARIO */
.formulario h2 {color: white; font-size: 21px; text-align: center; margin: 25px 0px 40px 0px;}
.formulario {background-color: #00354c; padding: 15px 15px 0px 15px; overflow: hidden; margin: 55px 0px 0px 0px;}
.formulario input {background-color: #e5e5e5; border: 0px; height: 55px; width: 100%; padding: 0px 18px; margin: 0px 0px 1px 0px; color: #00354c;}
.formulario input[type="checkbox"] {display: none;}
.formulario i {font-size: 16px;}
.formulario .checkBox {background-color: #00354c; width: 22px; height: 22px; border-radius: 5px; float: left; margin: 17px 14px 17px 0px; cursor: pointer; border: 2px solid #2a8dfb;}
.formulario .checkBox.active {background-color: #2a8dfb; width: 22px; height: 22px; border-radius: 5px; text-align: center; color: white; float: left; margin: 17px 14px 17px 0px; line-height: 21px; cursor: pointer;}
.formulario .checkBox i {display: none;}
.formulario .checkBox.active i {display: inherit;}
.formulario label {float: left; color: white; margin: 0px; line-height: 55px;}
.formulario label a {color: #2a8dfb;}
.boton.send {width: 100%; text-align: center; height: 60px; border-radius: 0px; line-height: 60px;}
.boton.send.fixed {position: fixed; bottom: 0px}
/* END FORMULARIO */

/* FOOTER */
footer {height: 60px; color:#264551;background-color: #00354c; text-align: center;line-height: 60px;}
/* END FOOTER */