/* GLOBAL */
body {background: #e5e5e5; font-family: 'Open Sans'; margin: 0px;}
.boton, .boton:hover {background-color: #2a8dfb; color: white; border-radius: 5px; border: 0px; height: 45px; width: 175px; line-height: 45px; display: inline-block; font-weight: bold; cursor: pointer;}
.boton:hover {
    background-color: #64aefc;
}
a, a:hover, a:focus {text-decoration: none; color: #2a8dfb }
/* END GLOBAL */


/* NAV */
nav {height: 55px; background-color: #00354c; position: fixed; width: 100%; top: 0px; z-index: 100;}
nav img {width: 100px; margin: 22px 0px 0px 20px; cursor: pointer;}
nav .fa.fa-bars, nav .fa.fa-times {float: right; color: #2a8dfb; font-size: 28px; margin: 15px 18px 0px 0px; cursor: pointer;}
/* END NAV */

/* FISH INFO */
.fish-info-cont {
    position: absolute;
    top: 0px;
    z-index: 100;
    height: 100vh;
    display: table;
  }

  .fish-info {
    display: table-cell;
    vertical-align: middle;
  }
/* END FISH INFO */

/* MONTHS */
.swiper-container {
    width: 100%;
    position: fixed;
    top: 0px;
    background: #002433;
}

.swiper-slide {
    text-align: center;
    font-size: 14px;
    color: #2a8dfb;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-button-next {
  right: 0px; position:absolute; top: 22px; height: 40px;
  background-image: none;
  width: 40px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,002433+100&0+0,1+100 */
  background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(0,36,51,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(0,36,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(0,36,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#002433',GradientType=1 ); /* IE6-9 */
}

.swiper-button-prev {
  left: 0px; position:absolute; top: 22px; height: 40px;
  background-image: none;
  width: 40px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002433+0,002433+100&1+0,0+100 */
  background: -moz-linear-gradient(left,  rgba(0,36,51,1) 0%, rgba(0,36,51,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,36,51,1) 0%,rgba(0,36,51,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,36,51,1) 0%,rgba(0,36,51,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002433', endColorstr='#00002433',GradientType=1 ); /* IE6-9 */
}

.swiper-slide-active {
    color: white;
}
/* END MONTHS */

/* APP */
.appAdvice {
    display: none;
}

.appAdvice .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
}

.appAdvice .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1005;
    width: 270px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
}

.appAdvice .popup .close{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #8b8b8b;
    opacity: 1;
}

.appAdvice .popup figure{
    text-align: center;
    margin-top: 35px;
}

.appAdvice .popup figure img{
    width: 75px;
}

.appAdvice .popup .popupContent{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    padding: 0 25px;
}

.appAdvice .popup .popupContent p{
    font-size: 11px;
    color: #8b8b8b;
}

.appAdvice .popup .popupContent strong{
    color: #002433;
}

.appAdvice .popup footer{
    height: 40px;
    background-color: #f9fafc;
    color: #8b8b8b;
    text-align: center;
    border-top: 1px solid #8b8b8b;
}

.appAdvice .popup footer p{
    line-height: 40px;
    font-size: 9px;
}

.appAdvice .popup footer img{
    width: 20px;
}

/* GUIDE */
#guide {
    padding: 15px;
    padding-top: 70px;
}

#guide .appContent {
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

#guide .appContent:first-of-type {
   margin-bottom: 15px;
}

#guide .appContent .close{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #8b8b8b;
    opacity: 1;
}

#guide .appContent figure{
    text-align: center;
    margin-top: 35px;
}

#guide .appContent figure img{
    width: 75px;
}

#guide .appContent .popupContent{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    padding: 0 25px;
}

#guide .appContent .popupContent p{
    font-size: 10px;
    color: #8b8b8b;
}

#guide .appContent .popupContent strong{
    color: #002433;
}

#guide .appContent footer{
    height: 40px;
    background-color: #f9fafc;
    color: #8b8b8b;
    text-align: center;
}

#guide .appContent footer p{
    line-height: 40px;
    font-size: 9px;
}

#guide .appContent footer img{
    width: 20px;
}

/* MENU */
.menu {display: none;}
.menu.active {position: fixed; width: 100%; top: 0px; height: 100vh; z-index: 1;}
.menu ul {display: table-cell; vertical-align: middle; list-style: none; padding: 0px;}
.menu ul li {color: #2a8dfb; text-align: center; font-size: 24px; line-height: 50px;}
.menu ul li a {cursor: pointer;}
.menu ul li.active {color: white;}
.menu ul li.social {float: left; width: 50%;}

.menu-content {height: 100vh; display: table; width: 100%; background-color: #00354c; }

.social.fb {text-align: right; padding: 30px 15px 0px 0px;}
.social.tw {text-align: left; padding: 30px 0px 0px 15px;}

.menu ul li.social a {
    border: 2px solid #2a8dfb;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    font-size: 25px;}
/* END MENU */


/* SLIDER */
.slider {
    background: url(../img/sea-background.jpg) no-repeat center;
    background-size: 140%;
    background-position-y: 0px;
    height: 100vh;
    width: 100%;
    position: relative;
    display: table;
    text-align: center;

    }
.slider div {display: table-cell; vertical-align: middle;}
.slider h1 {color: white; font-size: 21px;font-family: 'Open Sans'; font-weight: 900;}
.slider h2 {color: white; font-size: 14px; margin: 0px 0px 20px 0px;}


/* SLIDER */

.fish-info-cont {
    position: absolute;
    top: 0px;
    z-index: 100;
    height: 100vh;
    display: table;
    width: 100%;
  }

.fish-info {display: table-cell; vertical-align: middle;}
.fish-info h1 {color: white; font-size: 21px;font-family: 'Open Sans'; font-weight: 900;}
.fish-info h2 {color: #dddddd; font-size: 14px; margin: 0px 0px 20px 0px;}

.fish-info .discover {
    margin-top: 20px;
}

.fish-info .discover a{
    color: #dddddd;
    text-decoration: underline;
}
/* END SLIDER */

/* CONTENT */
.content {padding: 15px;}

    .content.index.list {
        padding-top: 80px;
    }
.content article {display:none; background: white; text-align: center; padding: 15px; overflow: hidden; margin: 0px 0px 15px 0px;}
.content article.active {display: inherit;}
.content article:last-child {margin: 0px;}
.content article img {border-bottom: 1px solid #c7c5c5; width: 100%; padding-bottom: 15px;}
.content h1 {color: #00354c; font-size: 21px; width: 100%; margin: 25px auto 20px auto; text-align: left;}
.content h1 span {font-size: 14px;}
.content ul {padding: 0px; list-style: none; margin: 0px;}
.content ul li {font-size: 12px; text-align: left; color: #7f7e7e;}
.content ul li span {color: #00354c;}
.content .info, .content .info:hover {width:100%;text-align: left; float: left; margin: 20px 0px; font-weight: bold; color:#2a8dfb;    cursor: pointer;}
.content a i {font-size: 24px; position: relative; top: 3px; padding: 0px 3px 0px 0px;}


.content .extra-info {width: 100%; overflow: hidden; display: none;}
.content .extra-info h3 {font-size: 21px; text-align: left; margin: 0px 0px 20px 0px; color: #002433; font-size: 15px; font-style: italic;}
.content .extra-info h3 span {font-size: 12px;}
.content .extra-info p {text-align: left; font-size: 12px;}
.content .extra-info ul {list-style: none; margin: 14px 0px 24px 0px; overflow: hidden; display: none;}
.content .extra-info ul li {float: left; width: 7.5%; margin-right: 2px; background-color: #e5e5e5; color: #7f7f7f; height: 16px; font-size: 8px; text-align: center; line-height: 16px;}
.content .extra-info ul li:last-child {margin-right: 0px;}
.content .extra-info ul li.yellow {color: white; background-color: #fac800;} 
.content .extra-info ul li.green {color: white; background-color: #01b65f;} 

.content .boton {
    color: #2a8dfb;
    font-size: 12px;
    width: 100%;
    background-color: transparent;
    text-align: left;
    text-decoration: underline;
}

.footerNav {

}

.footerNav .claim{
    background-image: url(https://storage.googleapis.com/pescadodetemporada/img/fishing.jpg);
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
}

.footerNav .claim::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 0;
}

.footerNav .claim .claimCenter {
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
}

.footerNav .claim h2 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-weight: 700;
    margin-bottom: 20px;
}

.footerNav .claim p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-decoration: underline;
}

.footerNav .navigator{
    height: 115px;
    background-color: #00354c;
    position: relative;
}

.footerNav .navigator .left, .footerNav .navigator .right {
    top: 50%;
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
}

.footerNav .navigator .left {
    left: 15px;
}

.footerNav .navigator .left span{
    margin-left: 10px;
}

.footerNav .navigator .right span{
    margin-right: 10px;
}

.footerNav .navigator .right {
    right: 15px;
}

.footerNav .navigator .right i, .footerNav .navigator .left i{
    color: #2a8dfb;
    vertical-align: middle;
    display: inline-block;
    font-size: 20px;
}

.footerNav .navigator .right span, .footerNav .navigator .left span{
    color: #2a8dfb;
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -2px;
}

.footerNav .navigator .allSpecies {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footerNav .navigator .allSpecies a{
    height: 80px;
    width: 80px;
    background-color: #2a8dfb;
    color: #ffffff;
    font-size: 12px;
    display: block;
    border-radius: 50%;
    text-align: center;
    padding-top: 28px;
    line-height: 12px;
}

.footerNav .extra {
    padding: 10px;
}

.footerNav .extra a {
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    height: 55px;
    line-height: 55px;
}

.footerNav .extra a:first-of-type {
    margin-bottom: 10px;
}
/*END CONTENT */

/* CONTENT RECETAS */
header h1 {margin: 75px 0px 20px 0px; text-align: center; font-size: 28px; color: #00354c}
.content-recetas {padding: 15px; width: 100%; }
.content-recetas + .boton.send.fixed {
    display: none;
}

.content-recetas.searched + .boton.send.fixed{
     display: block;
}
.content-recetas .receta {width: 100%; background-color: white; overflow: hidden; margin: 0px 0px 15px 0px;}
.content-recetas .receta:last-child {margin: 0px;}
.content-recetas .receta .cocinero-content {overflow: hidden;}
.content-recetas .receta .cocinero-image {width: 100%; }
.content-recetas .receta .cocinero-image img {width: 100%; }
.content-recetas .receta .cocinero-info {width: 100%;}
.content-recetas .receta h1 {font-size: 21px; width: 100%; overflow: hidden; border-top: 1px solid #c7c5c5; padding: 25px 0px 0px 0px; margin: 25px 0px 0px 0px;}
.content-recetas .receta h3 {font-size: 12px; color: #00354c;}
.content-recetas .receta ul {padding: 0px 0px 0px 20px; font-size: 12px; color: #7f7f7f;}
.content-recetas .receta ul li {list-style-type: disc} 
ol {counter-reset: step-counter; padding: 0px 0px 0px 0px;list-style: none; font-size: 12px; color: #7f7f7f;}
ol li {
  position: relative;
  margin:0px 0px 5px 0px;
}
ol li::before { 
      counter-increment: step-counter;
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 10px;
    background-color: #00354c;
    color: white;
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 50%;
    position: absolute;
}
ol li span {    display: block;
    padding-left: 30px;}
.content-recetas .receta .cocinero-info h2 {font-size: 14px; color: #00354c;}
.content-recetas .receta .cocinero-info p {font-size: 11px; color: #7f7f7f;}
.content-recetas .receta .cocinero {background: url(../img/cocinero.png) no-repeat center; border-radius: 50%; width: 30%; height: auto; background-size: 100%;}
.content-recetas .receta p { font-size: 12px; color: #7f7f7f; }
/* END CONTENT RECETAS */

/* FORMULARIO */
.formInfo {
    background-color: #e5e5e5;
    font-size: 0;
    padding: 12px;
    padding-top: 67px;
}

.formInfo figure, .formInfo .content{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.formInfo figure {
    background-image: url(https://storage.googleapis.com/pescadodetemporada/img/fishing.jpg);
    background-position: center center;
    background-size: cover;
    height: 220px;
    width: 100%;
}

.formInfo .content {
    padding: 0;
}

.formInfo .cards {
}

.formInfo .card {
    padding: 30px;
    color: #7f7f7f;
    font-size: 12px;
    background-color: #ffffff;
}

.formInfo .card h2 {
    font-size: 20px;
    color: #002433;
    margin: 0 0 20px 0;
}

.formInfo .card strong {
    font-weight: 700;
}

.formInfo .card ul {
}

.formInfo .card ul li {
}

.formulario h2 {color: #ffffff; font-size: 20px; text-align: center;}
.formulario p {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}
.formulario form {
    margin-top: 55px;
}
.formulario {background-color: #00354c; overflow: hidden; }
.formulario .form_padding {padding: 15px 15px 0px 15px; }
.formulario input[type='text'], .formulario input[type='email'] {background-color: #e5e5e5; border: 0px; height: 55px; width: 100%; padding: 0px 18px; margin: 0px 0px 1px 0px; color: #00354c;}
/* .formulario input[type="checkbox"] {display: none;} */
.formulario i {font-size: 16px;}
.formulario .checkBox {background-color: #00354c; width: 22px; height: 22px; border-radius: 5px; float: left; margin: 17px 14px 17px 0px; cursor: pointer; border: 2px solid #2a8dfb;}
.formulario .checkBox.active {background-color: #2a8dfb; width: 22px; height: 22px; border-radius: 5px; text-align: center; color: white; float: left; margin: 17px 14px 17px 0px; line-height: 21px; cursor: pointer;}
.formulario .checkBox i {display: none;}
.formulario .checkBox.active i {display: inherit;}
.formulario label {float: left; color: white; margin: 10px 0 10px 0; line-height: 25px;}
.formulario label[for='privacy'] {float: none; color: white; margin: 10px 0 10px 0; line-height: 25px;}
#privacy-error { color: red;}
.formulario label a {color: #2a8dfb;}
.formulario .boton.send { margin-left: -15px;}

.formSended {
    padding: 0 20px;
    text-align: center;
    display: none;
    margin: 40px 0;
}

.formSended p {
    font-size: 12px;
    margin-bottom: 15px;
}

.formSended a {
    border: 2px solid #2a8dfb;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    font-size: 25px;
    margin: 0 20px;
}

.formSended a i {
    font-size: 25px;
}

.boton.send {width: 100vw; text-align: center; height: 60px; border-radius: 0px; line-height: 60px; position: relative;}
.boton.send.fixed {position: fixed; bottom: 0px}

#privacy_policy_text {
	padding: 10px 15px 10px 15px;
}

#privacy_policy_text h3 {
	color: #fff;
	text-align: center;
}

.privacy_policy_link {
	text-align: center;
}
/* END FORMULARIO */

/* FOOTER */
footer {height: 60px; color:#666666;background-color: #00354c; text-align: center;line-height: 60px;}
/* END FOOTER */

#info {
    padding-top: 55px;
}
#info .advice {
    background-color: #002433;
}
#info .advice p {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 50px;
    margin: 0;
}
#info .cards {
    padding: 12px;
}

#info .card {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 0 30px 30px 30px;
}

#info .card:last-of-type {
    margin-bottom: 0;
}


#info .card figure{
    text-align: center;
}

#info .card figure i{
    font-size: 120px;
    color: #002433;
}

#info .card h2{
    color: #002433;
    font-size: 20px;
    margin-bottom: 20px;
}

#info .card p{
    color: #7f7f7f;
    font-size: 12px;
}

label.error {
    color: red;
}

@media (min-width: 1200px){
    .appAdvice {
        display: none !important;
    }

    .pagecenter {
        width: 1050px;
        margin: 0 auto;
    }

    /*MENU*/
    nav .fa.fa-bars {
        display: none;
    }

    .menu {
        display: block;
    }

    .menu .menu-content {
        height: auto;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 105;
        text-align: right;
    }
    
    .menu .menu-content .social {
        display: none;
    }

    .menu .menu-content ul {
        width: 100%;
        display: block;
        padding-right: 20px;
    }

    .menu .menu-content ul li.guide {
        display: none;
    }

    .menu .menu-content ul li{
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
    }

    .menu .menu-content ul li.active a{
        color: #ffffff;
    }

    .menu .menu-content ul li a {
        font-size: 14px;
        color: #3283de;
    }

    .menu .menu-content ul li a:hover {
        color: white;
    }

    /*INDEX*/
    .content article.active {
        margin-bottom: 30px;
    }

    .content .extra-info {
        display: block;
    }

    .content .extra-info h3 {
        margin-top: 25px;
    }

    .content .info{
        display: none;
    }

    .footerNav {
        display: none;
    }

    /*INFO*/
    #info .advice p {
        font-size: 16px;
    }

    #info .cards {
        font-size: 0;
        padding: 55px 0;
        text-align: center;
    }

    #info .cards .card {
        display: inline-block;
        vertical-align: top;
        width: 330px;
        height: 500px;
        margin-bottom: 0;
        margin-right: 25px;
    }

    #info .cards .card:last-of-type {
        margin-right: 0;
    }

    #info .card h2 {
        text-align: left;
    }

    #info .card p {
        font-size: 16px;
        text-align: left;
    }

    /*FORM*/

    .formInfo figure, .formInfo .content{
        width: 50%;
        height: 675px;
    }

    .formInfo figure {
    }

    .formInfo {
        background-color: #ffffff;
        padding: 55px 0 0;
    }

    .formInfo .cards {
        padding: 0;
        height: 100%;
        position: relative;
    }

    .formInfo .cards .card {
        padding: 0 50px;
        position: absolute;
        width: 100%;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .formInfo .cards .card h2{
        font-size: 32px;
        margin-bottom: 25px;
    }

    .formInfo .cards .card ul {
        padding: 0 0 0 20px;
    }

    .formInfo .cards .card p, .formInfo .cards .card li{
        font-size: 16px;
        margin-bottom: 15px;
        list-style-type: disc;
    }

    .formulario h2 {
        font-size: 32px;
        margin-bottom: 32px;
    }

    .formulario p {
        font-size: 16px;
    }

    .formulario {
        font-size: 0;
    }

    .formulario input[type="text"], .formulario input[type="email"] {
        line-height: 80px;
        height: 80px;
    }

    .formulario .form-left, .formulario .form-right {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

    .formulario .form-left {
        padding-left: 0;
    }

    .formulario .form-right {
        padding-right: 0;
    }

    .formulario .checkBox {
        position: relative;
        top: 10px;
    }

    .formulario .privacypolicy {
        font-size: 0;
        text-align: left;
        position: relative;
        top: 20px;
    }

    .formulario .privacypolicy span{
        display: block;
        line-height: 19px;
        font-size: 16px;
    }

    .formulario .privacypolicy a {
        display: block;
        line-height: 16px;
        font-size: 16px;
    }

    .formulario .chk {
        text-align: right;
    }

    .formulario .boton.send {
        display: inline-block;
        width: 275px;
        height: 80px;
        line-height: 80px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .formSended p {
        font-size: 16px;
		margin-bottom: 22px;
    }

    /*RECIPES*/
    .content-recetas .receta.searched {
        outline: 2px solid #2d7acf;
    }

    .content-recetas.searched + .boton.send.fixed {
        display: none;
    }

    /*GRID*/

    .grid {
        max-width: 1050px;
        margin: 0 auto;
    }

    .grid-item {
          float: left;
          width: 30% !important;
    }
}

.gallery-top .swiper-slide {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover !important;
}

.signup {
	background-color: #fdb81c;
    padding-left: 15px;
    padding-right: 15px;
}

@media(max-width: 600px){
    .gallery-top .swiper-slide[data-month="en"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-enero.jpg); }
    .gallery-top .swiper-slide[data-month="fb"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-febrero.jpg); }
    .gallery-top .swiper-slide[data-month="mr"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-marzo.jpg); }
    .gallery-top .swiper-slide[data-month="ab"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-abril.jpg); }
    .gallery-top .swiper-slide[data-month="my"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-mayo.jpg); }
    .gallery-top .swiper-slide[data-month="jn"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-junio.jpg); }
    .gallery-top .swiper-slide[data-month="jl"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-julio.jpg); }
    .gallery-top .swiper-slide[data-month="ag"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-agosto.jpg); }
    .gallery-top .swiper-slide[data-month="sp"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-septiembre.jpg); }
    .gallery-top .swiper-slide[data-month="oc"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-octubre.jpg); }
    .gallery-top .swiper-slide[data-month="nv"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-noviembre.jpg); }
    .gallery-top .swiper-slide[data-month="dc"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-diciembre.jpg); }
}

@media(min-width: 601px){
    .gallery-top .swiper-slide[data-month="en"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-enero-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="fb"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-febrero-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="mr"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-marzo-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="ab"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-abril-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="my"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-mayo-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="jn"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-junio-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="jl"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-julio-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="ag"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-agosto-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="sp"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-septiembre-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="oc"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-octubre-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="nv"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-noviembre-desktop.jpg); }
    .gallery-top .swiper-slide[data-month="dc"]{ background-image: url(https://storage.googleapis.com/pescadodetemporada/img/seas/pescado-diciembre-desktop.jpg); }
}
